<% layout('layout') -%>

<script src="/js/tenant.js"></script>

<table id="tenant" class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Image<th>
          <th>Category</th>
          <th>Name</th>
          <th>Location</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody ></tbody>
    </table>